body {
  background-color: hsl(0, 0%, 95%);
}

main{ }

.agba {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 2cm;
}

.sed {
  background-color: hsl(31, 77%, 52%);
  padding: 2em;
  display: flexbox;
}

.sed h1 {
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display", cursive;
  padding-bottom: 10px;
  font-weight: 700;
}

.sed p {
  color: hsla(0, 0%, 100%, 0.75);
  font-weight: 400;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  padding-bottom: 20px;
}

.kai{
  position: absolute;
  padding:12px;
  padding-right: 3.2cm;
  padding-left: 3.2cm;
  font-family: "Lexend Deca", sans-serif;
  border: solid hsl(184, 100%, 22%); 
  left: 15cm;
  top: 2cm;
  border-radius: 2cm;
}

.btn1 {
  background-color: hsl(0, 0%, 95%);
  font-size: bold;
  padding: 0.5em;
  color: hsl(31, 77%, 52%);
  justify-self: center;
  font-weight: 400;
  border-radius: 1.5cm;
  border: 1px solid hsl(0, 0%, 95%);
  margin-top: 2rem;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.suv {
  background-color: hsl(184, 100%, 22%);
  padding: 2em;
  display: flexbox;
}

.suv h1 {
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display", cursive;
  padding-bottom: 10px;
  font-weight: 700;
}

.suv p {
  color: hsla(0, 0%, 100%, 0.75);
  font-weight: 400;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  padding-bottom: 20px;
}

.btn2 {
  background-color: hsl(0, 0%, 95%);
  font-size: bold;
  padding: 0.5em;
  font-family: "Lexend Deca", sans-serif;
  color: hsl(184, 100%, 22%);
  justify-self: center;
  justify-items: center;
  font-weight: 400;
  border-radius: 1.5cm;
  border: 1px solid hsl(0, 0%, 95%);
  margin-top: 2rem;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.lux {
  background-color: hsl(179, 100%, 13%);
  padding: 2em;
  display: flexbox;
}

.lux h1 {
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display", cursive;
  padding-bottom: 10px;
  font-weight: 700;
}

.lux p {
  color: hsla(0, 0%, 100%, 0.75);
  font-weight: 400;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  padding-bottom: 20px;
}

.btn3 {
  font-family: "Lexend Deca", sans-serif;
  background-color: hsl(0, 0%, 95%);
  font-size: bold;
  padding: 0.5em;
  color: hsl(179, 100%, 13%);
  justify-self: center;
  justify-items: center;
  font-weight: 400;
  border-radius: 1.5cm;
  border: 1px solid hsl(0, 0%, 95%);
  margin-top: 2rem;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
