

body{ 
    background-color: rgb(41, 39, 39);
    width: 50%;
    margin-top: 3cm;
    margin-left: 3cm;


}

.very{
    font-size: bold;
    position: absolute;
    padding:12px;
    padding-right: 3.2cm;
    padding-left: 3.2cm;
    font-family: "Lexend Deca", sans-serif;
    border: solid hsl(184, 100%, 22%); 
    left: 15cm;
    border-radius: 2cm;
    margin-top: 3cm;
  }
